<div class="actions">
  <div>
    <ion-icon size="small" name="thumbs-up" [color]="themeColor"></ion-icon>
    <p class="ion-text-center">
      <ion-text [color]="themeColor">{{ likes }}</ion-text>
    </p>
  </div>
  <!-- <div>
    <ion-icon  size="large" name="thumbs-down" [color]="themeColor"></ion-icon>
    <p class="ion-text-center">
      <ion-text [color]="themeColor">{{ dislikes }}</ion-text>
    </p>
  </div> -->
  <!-- <div>
    <ion-icon size="large" name="chat-bubble" [color]="themeColor"></ion-icon>
    <p class="ion-text-center">
      <ion-text [color]="themeColor">{{ comments }}</ion-text>
    </p>
  </div> -->
  <div>
    @if (favorite) {
      <ion-icon size="large" name="heart-on" [color]="themeColor"></ion-icon>
    } @else {
      <ion-icon size="large" name="heart-off" [color]="themeColor"></ion-icon>
    }
  </div>
</div>

