ion-toolbar {
    --background: transparent;
    --ion-color-base: transparent !important;
    position: absolute;
  }

  ion-title {
    color: #e9dfdf73;

  }

  ion-content {
    ion-title {
      position: absolute;
      top: 0;
    }
  }

  swiper-container {
    height: 100%;
    z-index: -10;
  
    swiper-slide {
      .explanation{
        width: 100vw;
        height: 30vh;
      }
      .media {
        width: 100vw;
       
        video {
          object-fit: fill;
          
 
        }        
        
      }      
    }
  }