<ion-content>
  <swiper-container #swiper id="swiper" direction="vertical" slides-per-view="1" scrollbar="true">
    @for (item of this.source(); track $index) {
      <swiper-slide>
        
        <ion-list class="ion-padding-top">

          <ion-list-header class="ion-text-uppercase">
            <ion-text color="primary">{{ item.title }}</ion-text>
          </ion-list-header>

          <ion-item>
            <ion-text color="medium">
              {{ item.summary }}
            </ion-text>
          </ion-item>

          <ion-item>
            <ion-label>
              <ion-text color="secondary">
                Series:
              </ion-text>
            </ion-label>
            <ion-badge color="secondary" slot="end">{{ item.sets }}</ion-badge>
          </ion-item>

          <ion-item>
            <ion-label>
              <ion-text color="secondary">
                Repeticiones:
              </ion-text>
            </ion-label>
            <ion-badge color="secondary" slot="end">{{ item.repeats }}</ion-badge>
          </ion-item>

          <!-- move pic/s or video/s or slider -->
          <swiper-container #swipermedia class="media" id="swipermedia" 
            direction="horizontal" 
            scrollbar="true"
            slides-per-view="1">
            @for (img of item.media; track $index) {
              <swiper-slide>
                <img [src]="img" />
              </swiper-slide>
            }
          </swiper-container>

          <ion-item>
            <ion-text color="medium">Excercise {{ $index + 1 }} of {{ source().length }} -  Media ({{ item.media.length }} pics)</ion-text>
          </ion-item>
        </ion-list>

        <!-- slide right feed -->
        <app-feed 
          [likes]="item.likes" 
          [dislikes]="item.dislikes" 
          [comments]="item.comments"
          [favorite]="item.favorite"></app-feed>

        <!-- slide bottom fotter-->
        <app-footer marquee="Led Zeppelin: The song remains the same"></app-footer>
      </swiper-slide>
    }
  </swiper-container>
</ion-content>